.content-box {
  margin: 20px 0 20px 0;
  background: #ececec;
  border: 1px solid darken($off-white, 15%);
  border-radius: 3px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, .50);

  .content-box-header {
    overflow: visible;
    vertical-align: top;
    display: block;
    height: auto;
    padding: 15px;
    min-height: 20px;
    background: darken($off-white, 1%);
    border-bottom: 1px solid darken($off-white, 12%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-clip: border-box;
    background-image: linear-gradient(to top, $lightest-gray 0%, $off-white 100%);
    
    h2 {
      color: $off-black;
      line-height: normal;
    }
  }

  .content-box-content {
    background: #fff;
    padding: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-clip: border-box;
    box-sizing: border-box;

    label {
      display: block;
      margin: 5px 0;

    }

    select {
      outline: none;
      padding: 10px 8px;
      background: #fdfdfd;
      border: 1px solid #cacaca;
      border-radius: 5px;
      width: 80%;
    }

    input[type=text] {
      padding: 10px 8px;
      background: #fdfdfd;
      border: 1px solid #cacaca;
      border-radius: 5px;
      width: 80%;
      margin-bottom: 5px;
    }

    input[type=text]:focus, select:focus {
      outline: none;
      border-color: $teal;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00b3b3;
    }

    input[type=radio] {
      margin-right: 5px;
    }
  }
}