html,
button,
input,
select,
textarea {
  font-family: $base-font-family;
  color: #464646;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  /* font-size: $base-font-size-rem; */ /* fixme: commented out until fixed in chrome: https://code.google.com/p/chromium/issues/detail?id=296380 */
  line-height: $base-line-height;
  color: $dark-gray;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: $teal;
  text-decoration: underline;
  &:visited { color:$teal; }
  &:hover { color: lighten($teal, 7%); }
  &.disabled { color: #d9d9d9; }
  &:link { color: $teal; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 30px;
  font-size: 3.0rem;
  line-height:$base-line-height * 2;
  small {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 5px 0 0 0;
    line-height: 1.2em;
  }
}

h2, .h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height:$base-line-height * 2;
  small {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 5px 0 0 0;
    line-height: 1.2em;
  }
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height:$base-line-height * 1.5;
  small {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 5px 0 0 0;
    line-height: 1.2em;
  }
}

h4, h5, h6 { line-height:$base-line-height; }

h4 {
  font-size: 14px;
  font-size: 1.4rem;
  small { font-size: 12px; }
}

h5 {
  font-size: 12px;
  font-size: 1.2rem;
}

h6 {
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

/* Text properties classes
   from Bootstrap v3.3.7
*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
