%nav.navbar
  .navbar-inner
    .container
      .row
        .col
          .logo
            = link_to image_tag(shadow_trivia_logo), categories_url
        .col
          = link_to 'Categories', categories_url
.hr