= render 'shared/nav'
#wrap
  = render 'shared/masthead', title: 'Shadow Trivia', subtitle: 'Categories (Pick a category to play)' 
  .container
    .content-box
      .content-box-header
        %h2 Categories
      .content-box-content
        - @categories.each do |category|
          = button_to category.title, category_games_url(category)