.flash-container {
  margin-bottom: 25px;
}

.alert {
  background: $error-pink;
  color: $error-red;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid $error-light-pink;
}

.inpage {
  margin-top: 25px;
}