.question {
  font-size: 18px;
}

ul.choices {
  list-style: inside;
  margin-top: 10px;

  li {
    font-size: 16px;
    margin-bottom: 5px;

    form {
      display: inline-block;
    }
  }

  input[type=submit] {
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 3px;
    background: none;
    border: none;
    color: $teal;
    font-weight: 500;
  }

  input[type=submit]:hover {
    background: $teal;
    color: $white;
  }
}


