.login-container {
  padding-top: 50px;

}

.shadow-logo {
  background: $logo-orange;
  margin: 10px auto;
  padding: 10px 18px;
  width: 320px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 2px solid white;
  box-shadow: -1px 1px 5px 1px #888888;
}

.shadow-logo a {
  color: white;
  letter-spacing: 1px;
  text-shadow: -1px 1px rgb(94, 87, 87);
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-weight: 400;

}

.shadow-logo a:hover {
  text-decoration: none;
}

.login-box {
  width: 500px;
  margin: 0 auto;
  padding: 15px 30px;
  background: $white;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6)
}

.login-box .form-group {
  border-bottom: 1px solid $off-white;
  margin-bottom: 0;
  padding-top: 0;
}

.login-label {
  float: left;
  color: $gray;
  font-size: 2rem;
  width: 95px;
  margin-top: 12px;
  font-weight: 500;
}

input[type]:not([type=submit]) {
  padding: 14px 30px 14px 8px;
  margin: 0;
  width: 70%;
  float: right;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: $minimum-gray;
  font-weight: 300;
}

input[type]:not([type=submit]):focus {
  outline: none;
}

.login-submit {
  float: right;
}