.session-container {
  padding-top: 50px;
}

.shadow-logo {
  background: $orange;
  margin: 10px auto;
  padding: 12px 18px;
  width: 320px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 2px solid white;
  box-shadow: -1px 1px 5px 1px #888888;
}

.shadow-logo a {
  color: white;
  letter-spacing: 1px;
  text-shadow: -1px 1px rgb(94, 87, 87);
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

.shadow-logo a::after {
  content: "®";
  font-size: 10px;
  vertical-align: super;
}


.session-box, .register-box {
  width: 500px;
  margin: 0 auto;
  padding: 15px 30px;
  background: $white;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6)
}

.session-box .form-group {
  border-bottom: 1px solid $off-white;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.session-box h4 {
  padding-top: 10px;
  font-size: 16px;
}

.session-label, .register-label {
  float: left;
  color: $gray;
  font-size: 2rem;
  width: 95px;
  margin-top: 12px;
  font-weight: 600;
}

.register-label {
  width: 120px;
  font-size: 1.8rem;
}

.session-container input[type]:not([type=submit]) {
  padding: 14px 30px 14px 8px;
  margin: 0;
  width: 70%;
  float: right;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: $minimum-gray;
  font-weight: 300;
}

.session-container input[type]:not([type=submit]):focus {
  outline: none;
  border-color: $teal;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00b3b3;
}

.session-submit {
  float: right;
}